<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <!--<add name="strCon" connectionString="server=.;user id=sa; password=19850325nyl; database=CarPlate;"/>-->
    <add name="strCon" connectionString="server=rm-bp1u9z7q936h09143o.sqlserver.rds.aliyuncs.com,3433;user id=carplate; password=@Wlw19850323; database=carplate;"/>


  </connectionStrings>
</configuration>