<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <!--<add name="strCon" connectionString="server=.;user id=sa; password=19850325nyl; database=CarPlate;"/>-->
    <add name="strCon" connectionString="server=rdsz27q7ywdb9e01p017.sqlserver.rds.aliyuncs.com,3433;user id=carplate; password=19850325nyl; database=carplate;"/>


  </connectionStrings>
</configuration>